{% load static %}
<!-- Footer Start -->
      <footer class="site-footer">
         <div class="container">
            <!-- TOP CTA -->
            <div class="row align-items-center mb-5">
               <div class="col-lg-8">
                  <h3 class="fw-bold text-white display-5 mb-3">
                     Have Any Project In Mind
                  </h3>
                  <p class="text-white col-lg-8">
                     Whether you’re envisioning a bold brand identity, a sleek website,
                     or a complete digital transformation.
                  </p>
               </div>
               <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">
                  <a class='lets-talk d-inline-flex align-items-center justify-content-center rounded-circle fw-semibold text-dark text-decoration-none' href='contact.html'>
                  <span class="text-center">
                  ↗<br>
                  LET’S TALK
                  </span>
                  </a>
               </div>
            </div>
         </div>
         <div class="contact-info">
            <div class="container">
               <div class="row py-5 pb-4">
                  <!-- Brand -->
                  <div class="col-lg-3 mb-4">
                     <a href='{% url "home" %}'><img src="{% static 'assets/images/logo/logo-white-02.png' %}" alt=""></a>
                     <div class="socail-link-small d-flex gap-2 mt-3">
                        <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="btn btn-outline-light btn-sm rounded-circle"><i class="fa-brands fa-linkedin"></i></a>
                     </div>
                  </div>
                  <!-- Location -->
                  <div class="col-lg-3 mb-4">
                     <h4 class="footer-title">Location</h4>
                     <p class="mb-0">
                        4517 Washington Ave. Manchester, Kentucky 39495
                     </p>
                  </div>
                  <!-- Contact -->
                  <div class="col-lg-3 mb-4">
                     <h4 class="footer-title">Get In Touch</h4>
                     <p class="mb-1">support@gmail.com</p>
                     <p class="fw-semibold mb-0">+452-(239) 555</p>
                  </div>
                  <!-- Newsletter -->
                  <div class="col-lg-3 mb-4">
                     <h4 class="footer-title">Our Newsletter</h4>
                     <div class="footer-newsletter-form">
                        <form id="newslettersForm" action="#" method="POST">
                           <div class="form-group">
                              <input type="email" name="mail" class="form-control" id="mail" placeholder="Enter your email" required="">
                              <button type="submit" class="newsletter-btn">subscribe<i class="fa-regular fa-paper-plane"></i></button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="bottom-footer pt-5">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                     <p class="footer-text m-0"> © 2026 Brandway. All Rights Reserved.</p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="footer-links text-secondary text-end wow fadeInUp" data-wow-delay="0.3s">
                        <a href="about.html">About</a>
                        <a href="e-commerce-plans.html">Services</a>
                        <a href="blog.html">Blog</a>
                        <a href="contact.html">Contact</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer End -->
      <!-- Jquery Library File -->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <!-- Bootstrap js file -->
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- Wow js file -->
      <script src="{% static 'assets/js/wow.min.js' %}"></script>
      <!-- SlickNav js file -->
      <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
      <!-- SmoothScroll -->
      <script src="{% static 'assets/js/SmoothScroll.js' %}"></script>
      <!-- Magnific Popup-->
      <script src="{% static 'assets/js/magnific-popup.js' %}"></script>
      <!-- MagicCursor js file -->
      <script src="{% static 'assets/js/gsap.min.js' %}"></script>
      
      <!-- Motionflow js file -->
      <script src="{% static 'assets/js/motionflow.min.js' %}"></script>
      <!-- Main js file -->
      <script src="{% static 'assets/js/main.js' %}"></script>