<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Brandway Log In | Brandway - Digital Marketing, Branding & Web Solutions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Zoyothemes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'admin-assets/images/favicon.ico' %}">
        <!-- App css -->
        <link
            href="{% static 'admin-assets/css/app.min.css' %}"
            rel="stylesheet"
            type="text/css"
            id="app-style"
        >
        <!-- Icons -->
        <link href="{% static 'admin-assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Begin page -->
        <div class="account-page d-flex align-items-center min-vh-100">
            <div class="container-fluid py-5 px-3">
                <div class="row align-items-center g-0 justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-3">
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <div class="card login-card p-3 mb-0">
                                    <div class="card-body">
                                        <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">
                                            <div class="mb-2 p-0 text-center">
                                                <a class="auth-logo" href="index.html">
                                                    <img
                                                        src="{% static 'admin-assets/images/logo-dark.png' %}"
                                                        alt="logo-dark"
                                                        class="mx-auto"
                                                        height="28"
                                                    >
                                                </a>
                                            </div>
                                            <div class="auth-title-section mb-3 text-center">
                                                <h3 class="text-dark text-center fs-20 fw-medium mb-2">Welcome back</h3>
                                                <p class="text-dark text-center text-capitalize fs-14 mb-0">Please sign in with your email address.</p>
                                            </div>
                                            <div class="pt-0">
                                                <form method="POST" class="my-4">
                                                    {% csrf_token %}
                                                    <div class="form-group mb-3">
                                                        <label for="emailaddress" class="form-label">Email address</label>
                                                        <input
                                                            class="form-control"
                                                            type="email"
                                                            id="emailaddress"
                                                            name="email"
                                                            required=""
                                                            placeholder="Enter your email"
                                                        >
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label for="password" class="form-label">Password</label>
                                                        <input
                                                            class="form-control"
                                                            type="password"
                                                            required=""
                                                            id="password"
                                                            name="password"
                                                            placeholder="Enter your password"
                                                        >
                                                    </div>
                                                    <div class="form-group d-flex mb-3">
                                                        <div class="col-sm-6">
                                                            <div class="form-check">
                                                                <input
                                                                    type="checkbox"
                                                                    class="form-check-input"
                                                                    id="checkbox-signin"
                                                                    checked
                                                                >
                                                                <label class="form-check-label" for="checkbox-signin">Remember me</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 text-end">
                                                            <a class="text-muted fs-14" href="auth-recoverpw.html">Forgot password?</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-0 row">
                                                        <div class="col-12">
                                                            <div class="d-grid">
                                                                <button class="btn btn-primary" type="submit"> Log In</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END wrapper -->
        <!-- Vendor -->
        <script src="{% static 'admin-assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/jquery.counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'admin-assets/libs/feather-icons/feather.min.js' %}"></script>
        <!-- App js-->
        <script src="{% static 'admin-assets/js/app.js' %}"></script>
    </body>
</html>
