{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'include/header.html' %}
   <body>
      <!-- Preloader Start -->
      <div class="preloader">
         <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="{% static 'assets/images/loader.svg' %}" alt=""></div>
         </div>
      </div>
      <!-- Preloader End -->
      <!-- Header Start -->
         {% include 'include/menu.html' %}
     <!-- Header End -->
      <!-- SubHeader Start-->
      <section class="page-subheader">
         <div class="container">           
            <div class="section-title text-center mb-4">
               <h1 class="text-white title-xl wow fadeInUp" data-wow-delay="0.2s">Creative Ideas Blog</h1>
            </div>
            <div class="row align-items-center justify-content-center wow fadeInUp">
                
                <div class="col-lg-12 text-center">
                    <p class="text-white m-0">At Stratum, we deliver innovative digital solutions that help brands thrive. From web and app development to data-driven marketing.</p>
                </div>
            </div>
          </div>
      </section>
      <!-- SubHeader End--> 
       <!-- Our Blog Start-->
      <section class="our-blog no-bg-color section-row">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="section-title">
                     <h2 class="wow fadeInUp mb-1" data-wow-delay="0.2s">Insights, ideas, and creative perspectives!</h2>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp text-end" data-wow-delay="0.4s">
                  <a class='btn btn-dark' href='blog-grid.html'>Read All Posts <i class="fa-solid fa-arrow-right"></i></a>
               </div>
            </div>
            <div class="blog-section mt-5">
               <div class="row g-4">
                  <!-- Blog Card 1 -->
                  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                     <div class="blog-card">
                        <div class="blog-img rounded-4">
                           <a href='blog-details.html'><img src="{% static 'assets/images/blog/blog-1.jpg' %}" class="img-fluid rounded-4" alt=""></a>
                        </div>
                        <div class="blog-content pt-4">
                           <div class="d-flex justify-content-between text-muted">
                              <small>20 Jan 2026</small><small>04 min read</small>
                           </div>
                           <h3 class="fw-bold mt-3 mb-3">
                              <a class='h4 fw-bold text-dark' href='blog-details.html'>How Cutting-Edge Digital Marketing Drives Explosive Business Growth</a>
                           </h3>
                           <a class='read-more text-dark' href='blog-details.html'>Read more <i class="fa-solid fa-arrow-right"></i>
                           </a>
                        </div>
                     </div>
                  </div>
                 
               </div>
            </div>
            <div class="pagination-wrap wow fadeInUp mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-arrow-left"></i></a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-arrow-right"></i></a></li>
            </ul>
            </div>
         </div>
      </section>
      <!-- Our Blog End-->
      <!-- Footer Start -->
       {% include 'include/footer.html' %}
   </body>
</html>