{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'include/header.html' %}
   <body>
      <!-- Preloader Start -->
      <div class="preloader">
         <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-icon"><img src="{% static 'assets/images/loader.svg' %}" alt=""></div>
         </div>
      </div>
      <!-- Preloader End -->
      <!-- Header Start -->
  {% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'include/menu.html' %}
      <!-- Header End -->
     <!-- SubHeader Start-->
      <section class="page-subheader">
         <div class="container">
            <div class="section-title text-center mb-4">
               <h1 class="text-white title-xl wow fadeInUp" data-wow-delay="0.2s">Contact us</h1>
            </div>
            <div class="row align-items-center justify-content-center wow fadeInUp">
               
               <div class="col-lg-12 text-center">
                  <p class="text-white m-0"> I craft intuitive interfaces and seamless user journeys that align with business goals, ensuring high engagement, usability, and meaningful connections across websites, apps, and digital platforms.</p>
               </div>
            </div>
         </div>
      </section>
      <!-- SubHeader End-->

      <!-- Page Content Start -->
      <section class="page-contact-us section-row">
         <div class="container">
            <div class="row g-5 justify-content-center">               
               <div class="col-lg-5">
                  <!-- Contact Us Content Start -->
                  <div class="contact-us-content">
                    <h2 class="mb-4">SEND US A MESSAGE</h2>
                     <!-- Contact Form Start -->
                     <div class="contact-us-form p-4 border rounded-4">
                        <form id="contactForm" method="post" action="#" class="wow fadeInUp">
                            <div class="row">
                                <div class="form-group col-md-12 mb-3">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label class="form-label">Mobile Number</label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter number">
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label class="form-label">E-Mail Address</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter e-mail">
                                </div>
                                <div class="form-group col-md-12 mb-4">
                                    <label class="form-label">Message</label>
                                    <textarea class="form-control rounded-4" name="message" id="message" rows="4" placeholder="Write message..."></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-primary btn" name="submitForm">Send Message <i class="fa-solid fa-arrow-right"></i></button>
                                </div>
                            </div>
                         </form>                       
                     </div>
                     <!-- Contact Form End -->                     
               </div>
               </div>
               <div class="col-lg-6">
                  <div class="contact-info-box">
                     <!-- Contact info Title Start -->
                     <div class="contact-info-title wow fadeInUp">
                        <h3 class="mb-4">GET IN TOUCH</h3>
                     </div>
                     <!-- Contact info Title End -->
                     <!-- Contact Info List Start -->
                     <div class="contact-info-list d-flex flex-wrap g-5">
                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp">       
                            <i class="fa-solid fa-phone"></i>                   
                           <div class="contact-info-content">
                              <h4 class="h5 fw-bold text-dark">Need Help!</h4>
                              <h5><a href="tel:971527594759" class="text-dark">+971 52 759 4759</a></h5>
                           </div>
                        </div>
                        <!-- Contact Info Item End -->
                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp">
                           <i class="fa-regular fa-envelope"></i>                           
                           <div class="contact-info-content">
                              <h4 class="h5 fw-bold text-dark">E-Mail</h4>
                              <strong><a href="mailto:info@nirmaltechs.com" class="text-dark">info@stratum.com</a></strong>
                           </div>
                        </div>
                        <!-- Contact Info Item End -->
                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp">  
                            <i class="fa-solid fa-map-pin"></i>                        
                           <div class="contact-info-content">
                              <h4 class="h5 fw-bold text-dark">location</h4>
                              <strong>World Central, P.O Box: 390667, Jose, USA</strong>
                           </div>
                        </div>
                        <!-- Contact Info Item End -->
                     </div>
                     <!-- Contact Info List End -->
                  </div>
                  <!-- Contact Info Box End -->                    
                    <!-- Google Map IFrame Start -->
                     <div class="google-map mt-5 wow fadeInUp">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193596.2600279137!2d-74.14431277080642!3d40.697284634950485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1769413118536!5m2!1sen!2sin" height="440" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-4 h-hidden"></iframe>
                    </div>
                    <!-- Google Map IFrame End -->
               </div>
            </div>
         </div>
      </section>      
      <!-- Page Content End -->
      <!-- Footer Start -->
     {% include 'include/footer.html' %}
   </body>
</html>