{% load static %}
<header class="main-header header header-02">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <!-- Logo Start-->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'assets/images/logo/logo-black.png' %}" alt="Logo">
            </a>
            <!-- Logo End-->
            <div class="mobile-nav-actions d-lg-none ms-auto">
                <a class="btn btn-dark btn-sm mobile-top-contact-btn" href="contact.html">
                    Contact Us 
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <!-- Mobile Toggle -->
            <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-content"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="hamburger-toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>
            <!-- Mobile Toggle End -->
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse main-menu" id="navbar-content">
                <div class="nav-menu-wrapper">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link active">
                                <i class="fa fa-fw fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="nav-link">
                                <i class="fa fa-bullseye" aria-hidden="true"></i>
                                About Us
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-server" aria-hidden="true"></i>
                                Our Services
                                <i class="bx bx-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="e-commerce-plans.html" class="nav-link">Marketplace Management</a>
                                </li>
                                <li class="nav-item">
                                    <a href="digital-marketing-service.html" class="nav-link">Digital Marketing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="influncera-plans.html" class="nav-link">Influencer Marketing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="website-designing-service.html" class="nav-link">Website Design</a>
                                </li>
                                <li class="nav-item">
                                    <a href="marketing-plans.html" class="nav-link">Marketplace Branding</a>
                                </li>
                                <li class="nav-item">
                                    <a href="branding-plans.html" class="nav-link">Branding Plans</a>
                                </li>
                                <li class="nav-item">
                                    <a href="branding-plans-advance.html" class="nav-link">360 Marketing Plans</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'blog' %}" class="nav-link">
                                <i class="fa-solid fa-box"></i>
                                Our Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">
                                <i class="fa fa-fw fa-envelope"></i>
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Get a Demo Button -->
                <div class="header-btn">
                    <a class="btn btn-dark" href="{% url 'contact' %}">
                        Get A Demo
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </nav>
        <div class="mobile-bottom-nav d-flex d-lg-none align-items-center justify-content-between">
            <a href="{% url 'home' %}" class="mobile-bottom-link">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
            <a href="{% url 'about' %}" class="mobile-bottom-link">
                <i class="fa-solid fa-user"></i>
                <span>About Us</span>
            </a>
            <button type="button" class="mobile-bottom-nav-btn" data-bs-toggle="offcanvas" data-bs-target="#mobileServicesOffcanvas" aria-controls="mobileServicesOffcanvas">
                <i class="fa-solid fa-list"></i>
                <span>Categories</span>
            </button>
            <a href="{% url 'contact' %}" class="mobile-bottom-link">
                <i class="fa-solid fa-phone-volume"></i>
                <span>Contact</span>
            </a>
            <a href="#" class="mobile-bottom-link">
                <i class="fa-solid fa-user-circle"></i>
                <span>My Account</span>
            </a>
        </div>

        <div class="offcanvas offcanvas-start mobile-services-offcanvas" tabindex="-1" id="mobileServicesOffcanvas" aria-labelledby="mobileServicesOffcanvasLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="mobileServicesOffcanvasLabel">Our Services</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="mobile-services-list list-unstyled mb-0">
                    <li><a href="e-commerce-plans.html">Marketplace Management</a></li>
                    <li><a href="digital-marketing-service.html">Digital Marketing</a></li>
                    <li><a href="influncera-plans.html">Influencer Marketing</a></li>
                    <li><a href="website-designing-service.html">Website Design</a></li>
                    <li><a href="marketing-plans.html">Marketplace Branding</a></li>
                    <li><a href="branding-plans.html">Branding Plans</a></li>
                    <li><a href="branding-plans-advance.html">360 Marketing Plans</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
